@model Application.DTO.ResultDTO
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      @foreach (var item in Model.Rattes)
      {
          <span>code: @item.code , currency: @item.currency, mid: @item.mid</span><br>
      }
</div>
</body>
</html>