@model List<NBPApiClientCore.ICurrencyRate>
@{
    ViewData["Title"] = "Kalkulator walut";
}

<h2>@ViewData["Title"]</h2>
<form name="test" asp-controller="Calculator" asp-action="Create" method="post">

    <div class="input-group mb-3">

        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Waluta</label>
        </div>
        @if (Model != null)
        {
            <select name="Kurs" asp-items="@(new SelectList(Model, "Kurs", "Waluta", "Kod"))" class="custom-select" id="inputGroupSelect01"></select>
        }
        <p>do PLN</p>
        <input name="PLN" type="number" step="0.01" value="@ViewBag.LastAmount">
    </div>
    <button type="submit" class="btn btn-primary active">OK</button>
</form>
@ViewBag.result
